.tabs {
	display: flex;
	flex-direction: row;
	align-items: flex-end;

	background-color: #222228;
}

.tab {
	font-family: "Calibri", "Arial", sans-serif;
	font-size: 18px;
	background-color: #404040;
	border-bottom: 4px solid #404040;
	color: #ffffff;
	margin-left: 8px;
	padding: 4px 8px;
	cursor: pointer;
}

.tab.current {
	border-bottom-color: #3080c0;
}

.tab .close {
	display: inline-block;
	margin-left: 8px;
}

.new-tab {
	font-family: "Calibri", "Arial", sans-serif;
	font-size: 28px;
	color: #ffffff;
	margin-left: 8px;
	cursor: pointer;
}